<footer>
	<ul class="redlink">
		<li><a href="mailto:gagejustins@gmail.com" class="emailLink">email</a></li>
		<li><a href="https://twitter.com/jgage718" target="_blank" class="twitterLink">twitter (I'm entertaining)</a></li>
		<li><a href="https://itunes.apple.com/profile/gagejustins" target="_blank" class="appleLink">apple music</a></li>
		<li><a href="https://github.com/gagejustins" target="_blank" class="githubLink">github</a></li>
		<li><a href="https://www.reddit.com/user/gagejustins/" target="_blank" class="redditLink">reddit</a></li>
		<li><a href="https://www.linkedin.com/in/gagejustin/" target="_blank" class="linkedinLink">linkedin</a></li>
	</ul>
</footer>

<!--
style="color: #00aced;"
style="color: #FF375D;"
style="color: black;"
style="color: #ff4500;"	
style="color: #0077B5;"
-->
