<meta property="og:image" content="/assets/images/justin.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700" rel="stylesheet">
<script src="{{ "/assets/js/bootstrap/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>