<nav class="navbar navbar-expand-lg fixed-top" style="padding-left: 30px;">

	<button class="navbar-toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: #DEF1FF;">
		<span>&#9660;</span>
 	 </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/"><p class="supreme-light" id="navbar-brand">Justin Gage, Data (Scientist)</p></a>
			</li>
		</ul>
		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  				dataViz</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  					<a class="dropdown-item" id="dropdown-item" href="/dataViz/united-states-by-state.html">This is America</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				topics</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" id="dropdown-item" href="/topics/venture-capital.html">Venture Capital</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/writing">writing</a>
			</li>
			<li class="nav-item mr-auto">
				<a class="nav-link" href="/cv">cv</a>
			</li>
		</ul>
	</div>
</nav>
