<div class="share-page">
    Share this on 👉
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=jgage718&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" style="color: #00aced;">twitter</a>
    <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Share on Reddit" style="color: #ff4500;">reddit</a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source=justinsgage.com" target="_blank" style="color: #0077B5;">linkedin</a>
    <a href="https://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}&t={{ page.title }}" target="_blank" style="color:#FF6500;">hackernews</a>
</div>
