<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Mono" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gagejustins@gmail.com">email</a></li>
	        		<li><a href="https://twitter.com/jgage718" target="_blank" style="color: #00aced;">twitter (I'm entertaining)</a></li>
	        		<li><a href="https://itunes.apple.com/profile/gagejustins" target="_blank" style="color: #FF375D;">apple music</a></li>
	        		<li><a href="https://github.com/gagejustins" target="_blank" style="color: black;">github</a></li>
	        		<li><a href="https://www.reddit.com/user/gagejustins/" target="_blank" style="color: #ff4500;">reddit</a></li>
	        		<li><a href="https://www.linkedin.com/in/gagejustin/" target="_blank" style="color: #0077B5;">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
